@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,900,400,500&display=swap');

main {
    font-family: 'Roboto';
    margin: 0;
    color: rgb(9, 9, 58);
    min-height: 100vh;
}