.dropzoneContainer {
  font-family: sans-serif;
  margin: 25px 0;
}
.dropzone {
  width: 100%;
  min-height: 10em;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}
.preview {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 25px;
  object-fit: cover;
}
